<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
        
        <LINK rel="icon" 
              href="{{ url_for('static', filename='images/icon.png') }}">
        
        <LINK rel="stylesheet" 
              href="{{ url_for('static', filename='styles/4-common.css') }}">
        <LINK rel="stylesheet" 
              href="{{ url_for('static', filename='styles/3-header.css') }}">
        <LINK rel="stylesheet" 
              href="{{ url_for('static', filename='styles/3-footer.css') }}">
        <LINK rel="stylesheet" 
              href="{{ url_for('static', filename='styles/6-filters.css') }}">
        <LINK rel="stylesheet" 
              href="{{ url_for('static', filename='styles/8-places.css') }}">
    </HEAD>
    
    <BODY>
        <HEADER>
            <DIV class="logo" 
                 style="background-image: url('{{ url_for('static', filename='images/logo.png') }}')">
            </DIV>
        </HEADER>
        
        <DIV class="container">
            <SECTION class="filters">
                
                <DIV class="locations">
                    <H3>States</H3>
                    <H4>&nbsp;</H4> <UL class="popover">
                        {% for state in states %}
                        <LI>
                            <H2>{{ state.name }}</H2>
                            <UL>
                                {% for city in state.cities|sort(attribute='name') %}
                                <LI>{{ city.name }}</LI>
                                {% endfor %}
                            </UL>
                        </LI>
                        {% endfor %}
                    </UL>
                </DIV>

                <DIV class="amenities">
                    <H3>Amenities</H3>
                    <H4>&nbsp;</H4> <UL class="popover">
                        {% for amenity in amenities %}
                        <LI>{{ amenity.name }}</LI>
                        {% endfor %}
                    </UL>
                </DIV>

                <BUTTON>Search</BUTTON>
            </SECTION>
            
            <SECTION class="places">
                <H1>Places</H1>
                {% for place in places %}
                <ARTICLE>
                    <DIV class="title_box">
                        <H2>{{ place.name }}</H2>
                        <DIV class="price_by_night">${{ place.price_by_night }}</DIV>
                    </DIV>
                    
                    <DIV class="information">
                        <DIV class="max_guest">
                            {{ place.max_guest }} Guest{% if place.max_guest != 1 %}s{% endif %}
                        </DIV>
                        <DIV class="number_rooms">
                            {{ place.number_rooms }} Bedroom{% if place.number_rooms != 1 %}s{% endif %}
                        </DIV>
                        <DIV class="number_bathrooms">
                            {{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms != 1 %}s{% endif %}
                        </DIV>
                    </DIV>
                    
                    <DIV class="user">
                        <B>Owner:</B> 
                        {% if place.user %}
                            {{ place.user.first_name }} {{ place.user.last_name }}
                        {% else %}
                            N/A
                        {% endif %}
                    </DIV>
                    
                    <DIV class="description">
                        {{ place.description | safe }}
                    </DIV>
                    
                    <DIV class="amenities">
                        <H2>Amenities</H2>
                        <UL>
                            {% for amenity in place.amenities|sort(attribute='name') %}
                                <LI>{{ amenity.name }}</LI>
                            {% endfor %}
                        </UL>
                    </DIV>

                    <DIV class="reviews">
                        <H2>Reviews</H2>
                        <UL>
                            {% for review in place.reviews %}
                                <LI>
                                    <H3>From {{ review.user.first_name }} {{ review.user.last_name }}</H3>
                                    <P>{{ review.text | safe }}</P>
                                </LI>
                            {% endfor %}
                        </UL>
                    </DIV>

                </ARTICLE>
                {% endfor %} </SECTION>
        </DIV>
        
        <FOOTER>
            <P>Holberton School</P>
        </FOOTER>
    </BODY>
</HTML>
